.list {
  box-shadow: 2em;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.kegCard {
  width: 30%;
  padding: 5%;
  height: 30%;
}

.header {
  font-size: 5em;
  color: blue;
}
