.content {
  margin: 5%;
  padding: 5%;
  font-family: "Roboto", sans-serif;
}

.nav {
  display: flex;
  flex-direction: column;
  color: black;
  text-decoration: none;
}

.nav:hover {
  color: grey;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  padding: 5%;
}

.list {
  box-shadow: 2em;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.kegCard {
  width: 30%;
  padding: 5%;
  height: 30%;
}

.header {
  font-size: 5em;
}
